@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}
body{
    width: 390px;
    background-color: #252525;
    color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}
header{
    padding-top: 30px;
}
main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 60px;
}
img{
    width: 196px;
    height: 196px;
    border-radius: 50%;
}
#username{
    color: #6B77B4;
    width: 360px;
    font-size: 40px;
    padding-top: 10px;
}
nav{
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}
a{
    transition: 1s;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    padding-top: 7px;
}
a :hover{
    transform: scale(1.2);
    color: #6B77B4;
}
footer{
    padding-top: 30px;
}
p{
    font-size: 16px;
}
